body {
  font-family: Arial;
}

a {
  text-decoration: none;
  color: black;
}

.main-container {
  width: 70%;
  margin: 30px auto 0;
  display: flex;
  align-items: flex-start;
}

.role-title {
  margin: 0;
  font-size: 32px;
  padding: 25px;
}

.navbar {
  width: 250px;
  height: 750px;
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
}

.navbar-item-container {
  margin: 0;
  padding: 0;
}

.navbar-item {
  list-style-type: none;
  padding: 25px;
}

.navbar-item-content {
  display: flex;
  align-items: center;
}

.navbar-item-text {
  margin-left: 10px;
}

.page {
  width: 100%;
}

.concert-card-container {
  font-size: 16px;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 25px;
}

.concert-card-title {
  margin: 0 0 15px 0;
  color: #1692ec;
}

.separator {
  border-top: 1px solid #d7d7d7;
}

.concert-card-footer-container {
  display: flex;
  justify-content: space-between;
}

.concert-card-reservations-container {
  display: flex;
  align-items: center;
}

.small-icon-margin {
  margin-left: 5px;
}

.concert-card-delete-button {
  display: flex;
  align-items: center;
  color: white;
  background-color: #e84e4e;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
}

.statistics-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.stat-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px 0;
  color: white;
  border: none;
  border-radius: 5px;
}

.stat-card-container:nth-child(1) {
  background-color: #0070a4;
}

.stat-card-container:nth-child(2) {
  background-color: #00a48a;
}

.stat-card-container:nth-child(3) {
  background-color: #e04b4b;
}

.stat-icon {
  margin-bottom: 5px;
}

.stat-text {
  margin-bottom: 18px;
}

.stat-number {
  font-size: 38px;
}
